# web
static/out/*
!static/out/README.md

# api
api/*
!api/README.md

# build
dist/*
build
bestsub
bestsub.exe

# vscode
.vscode

# Desktop application
desktop/node_modules
desktop/src-tauri/target
desktop/bestsub
desktop/bestsub.exe
desktop/*.log